* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width:100%;
    left: 10px; 
    display: flex;
    align-items: center;
    gap: 400px;
    z-index: 2;


    & img {
       width: 80px;
       height: 60px;
       margin-left: 10px;
       border-radius: 50px;
       border: none;
       transform: 0,4s;

       background-image: radial-gradient(#cb7bdf, #630ab1f2);
       
    }

    & img:hover{
        transform: scale(0.9);
    }

    & nav { 
        display: grid;
        grid-template-columns: repeat(3, 200px);        width: 100%;
        gap: 100px;

        & a {
            width: 70px;

            text-decoration: none;
            color: #fff;
            transform: 0.4s;

            
        }

        & a:hover {
          color: #cb7bdf;
          transform: scale(1.2);
        }
    }

}

section {
    background-image: radial-gradient(rgb(123, 186, 225), #fff , rgba(169, 175, 175, 0.372));
    height: 100vh;
    position: relative;

    & .lista {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;
        
       
        & .item {
            position: absolute;
            inset: 0;

            & .moto-img {
                position: absolute;
                top: 45%;
                left: 80px;
                transform: translateY(-50%);
                width: 70%;


                & img {
                    width: 95%;
                    transform: rotate(-20deg);
                }
            } 

            & .conteudo { 
                position: absolute;
                right: 0px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 10px;

                margin-top: 16%;
              

                & .moto-informacao {
                    font-weight: bold;
                    color: #b5b1a7;
                }

                & h2 {
                    font-size: 5em;
                    line-height: 1em;
                    color: #EE4B2B;
                    font-family: "League Gothic",sans-serif;
                    
                }

                & .descricao {
                    color: #000;
                    font-size: 12px;
                    text-align: justify;
                    max-width: 500px;
                }

                & .informacao {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    
                    & button {
                        color: #000;
                        background-color: #beff1b;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;
                        border-radius: 30px;
                        height: 35px;
                        width: 120px;
                        border: none; 
                        transition: transform 0.1s ease;
                        font-family: "League Gothic",sans-serif; 
                    }               
                    
                     & button:active {
                    transform: scale(0.5);              
                }
                }
            }
        }

        &::before { /*"before" -> Colocar algo antes*/
            content: '';
            position: absolute;
            left: 2px;
            width: 95%;
            top: 47%;
            border: 2px solid #7023b4e9;
            
        }

    }

    & .setas {
        width:  70vw;
        height: 50px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -25%);
        display: flex;
        justify-content: space-between;

       
        & button {
            top: 50%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & .esq {
                transform: scale(-1);
            }

            & img {
                width: 25px;
                margin-top: 4px;
                           
            }

            &:hover {
                background-color: #beff1b;
            }
        }
    }

    & .indicadores {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 14px;

        & .numero {
            font-size: 5em;
            font-family: "League Gothic",sans-serif;
        }
    }
}


/*SOBREPOSIÇÃO DOS ESTILOS FEITOS*/
section {
    & .lista {

        & .item {
            transform: translateX(100vw);
            transition: 0.5s;
            opacity: 0;

            & .moto-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .conteudo {
                
                & .moto-informacao, h2, .descricao, .informacao {
                    transform: translateX(200px);
                    transition: 0.8s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .descricao {
                    transition-delay: 0.7s;
                }

                & .informacao {
                    transition-delay: 0.9s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .moto-img {
                & img {
                    transform: rotate(-20deg);
                }
            }

            & .conteudo {
                
                & .moto-informacao, h2, .descricao, .informacao {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}